<div class="logo">
  <img src="../imgs/default_transparent_765x625.png" alt="Logo" />
</div>
<nav>
  <ul>
    <li><a href="/" class="button">INICIO</a></li>
    <li class="category">
      <a class="button" id="categoryButton"
        >CATEGORIA<span class="material-symbols-outlined">arrow_drop_down</span></a
      >
      <div class="categoryMenu">
        <a class="button" href="">LANCHES</a>
        <a class="button" href="">PRATOS PRINCIPAIS</a>
        <a class="button" href="">ACOMPANHAMENTOS</a>
        <a class="button" href="">BEBIDAS</a>
        <a class="button" href="">SOBREMESAS</a>
      </div>
    </li>
    <li><a href="../abbout.html" class="button">SOBRE</a></li>
    <li><a href="../contact.html" class="button">CONTATO</a></li>
  </ul>
</nav>
<div class="login">
  <a class="button">ENTRAR</a>
  <h1>OU</h1>
  <a class="button">REGISTRAR-SE</a>
</div>
